html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #3C494F;
    font-size: 62.5%;
}
label, input, textarea {
    display: block;
}
textarea.text, input.text {
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 0.4em;
    width: 95%;
}
fieldset {
    border: 0 none;
    margin-top: 25px;
    padding: 0;
}
#map {
    height: 550px;
}
.demo {
    margin: 10px;
}
header, section {
    margin: 0 auto;
    width: 960px;
}
section {
    margin-top: 15px;
}
h1 {
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 3em;
    margin-top: 0.4em;
}
h1 {
    font: bold 43px/47px Helvetica,sans-serif;
}
header h1 {
    color: #FFFFFF;
    letter-spacing: -2px;
    text-shadow: 0 -1px #6A7770;
    word-spacing: 1px;
}
h4 {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
}
.button {
    background: -moz-linear-gradient(center top , #3E779D, #65A9D7) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#3E779D, #65A9D7) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    border-top: 1px solid #96D1F8;
    box-shadow: 0 1px 0 #000000;
    color: white;
    font-family: Helvetica,Arial,Sans-Serif;
    font-size: 17px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}
.ui-btn-active {
    background: -moz-linear-gradient(center top , #FFC563 0pt, #FE9000 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#FFC563 0pt, #FE9000 100%) repeat scroll 0 0 transparent;
}
.button:active {
    background: none repeat scroll 0 0 #1B435E;
    border-top-color: #1B435E;
}
form label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 1em 0;
}
form label input {
    color: #3C494F;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0.2em;
    width: 98%;
}
#errors {
    border: 1px solid orange;
    color: orange;
    display: none;
    padding: 0 1em;
}
#user {
    display: none;
    float: right;
}
#user span {
    color: #CCCCCC;
    font-family: Helvetica,sans-serif;
    font-size: 17px;
    line-height: 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    top: 5px;
}
#drawing li {
    float: left;
}
.controls {
    float: right;
}
#titles {
    float: left;
    width: 601px;
}
#subtitle {
    float: left;
    width: 570px;
}
#userCount {
    float: right;
}
#message {
    text-align: center;
}
.clear {
    clear: both;
}
#tools {
    float: right;
    margin-top: 20px;
}
#tools ul li {
    cursor: pointer;
}
#tools ul li:hover {
    -moz-transform: scale(1.2);
}
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer {
    position: absolute;
}
.leaflet-container {
    overflow: hidden;
}
.leaflet-tile-pane {
}
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
    -moz-user-select: none;
}
.leaflet-marker-icon, .leaflet-marker-shadow {
    display: block;
}
.leaflet-clickable {
    cursor: pointer;
}
.leaflet-container img {
    max-width: none !important;
}
.leaflet-tile-pane {
    z-index: 2;
}
.leaflet-objects-pane {
    z-index: 3;
}
.leaflet-overlay-pane {
    z-index: 4;
}
.leaflet-shadow-pane {
    z-index: 5;
}
.leaflet-marker-pane {
    z-index: 6;
}
.leaflet-popup-pane {
    z-index: 7;
}
.leaflet-zoom-box {
    height: 0;
    width: 0;
}
.leaflet-tile {
    visibility: hidden;
}
.leaflet-tile-loaded {
    visibility: inherit;
}
a.leaflet-active {
    outline: 2px solid orange;
}
.leaflet-control {
    position: relative;
    z-index: 7;
}
.leaflet-top, .leaflet-bottom {
    position: absolute;
}
.leaflet-top {
    top: 0;
}
.leaflet-right {
    right: 0;
}
.leaflet-bottom {
    bottom: 0;
}
.leaflet-left {
    left: 0;
}
.leaflet-control {
    clear: both;
    float: left;
}
.leaflet-right .leaflet-control {
    float: right;
}
.leaflet-top .leaflet-control {
    margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
    margin-left: 10px;
}
.leaflet-right .leaflet-control {
    margin-right: 10px;
}
.leaflet-control-zoom, .leaflet-control-layers {
    border-radius: 7px 7px 7px 7px;
}
.leaflet-control-zoom {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.leaflet-control-zoom a {
    background-color: rgba(255, 255, 255, 0.75);
}
.leaflet-control-zoom a, .leaflet-control-layers a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.leaflet-control-zoom a {
    border-radius: 4px 4px 4px 4px;
    height: 19px;
    width: 19px;
}
.leaflet-control-zoom a:hover {
    background-color: #FFFFFF;
}
.leaflet-big-buttons .leaflet-control-zoom a {
    height: 27px;
    width: 27px;
}
.leaflet-control-zoom-in {
    background-image: url("../images/zoom-in.png");
    margin-bottom: 5px;
}
.leaflet-control-zoom-out {
    background-image: url("../images/zoom-out.png");
}
.leaflet-control-layers {
    background: none repeat scroll 0 0 #F8F8F9;
    box-shadow: 0 0 7px #999999;
}
.leaflet-control-layers a {
    background-image: url("images/layers.png");
    height: 36px;
    width: 36px;
}
.leaflet-big-buttons .leaflet-control-layers a {
    height: 44px;
    width: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}
.leaflet-control-layers-expanded {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 6px 10px 6px 6px;
}
.leaflet-control-layers input {
    margin-top: 2px;
    position: relative;
    top: 1px;
}
.leaflet-control-layers label {
    display: block;
}
.leaflet-control-layers-separator {
    border-top: 1px solid #DDDDDD;
    height: 0;
    margin: 5px -10px 5px -6px;
}
.leaflet-container .leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 7px #CCCCCC;
    color: #333333;
    font: 11px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 5px;
}
.leaflet-fade-anim .leaflet-tile {
    -moz-transition: opacity 0.2s linear 0s;
    opacity: 0;
}
.leaflet-fade-anim .leaflet-tile-loaded {
    opacity: 1;
}
.leaflet-fade-anim .leaflet-popup {
    -moz-transition: opacity 0.2s linear 0s;
    opacity: 0;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}
.leaflet-zoom-anim .leaflet-tile {
    -moz-transition: none 0s ease 0s;
}
.leaflet-zoom-anim .leaflet-objects-pane {
    visibility: hidden;
}
.leaflet-popup {
    position: absolute;
    text-align: center;
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
}
.leaflet-popup-content {
    margin: 19px;
}
.leaflet-popup-tip-container {
    height: 16px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.leaflet-popup-tip {
    -moz-transform: rotate(45deg);
    height: 15px;
    margin: -8px auto 0;
    padding: 1px;
    width: 15px;
}
.leaflet-popup-close-button {
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 9px;
    width: 10px;
}
.leaflet-popup-content p {
    margin: 18px 0;
}
.leaflet-container {
    background: none repeat scroll 0 0 #DDDDDD;
}
.leaflet-container a {
    color: #0078A8;
}
.leaflet-zoom-box {
    background: none repeat scroll 0 0 white;
    border: 2px dotted #0055FF;
    opacity: 0.5;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 10px #888888;
}
.leaflet-popup-content-wrapper {
    border-radius: 20px 20px 20px 20px;
}
.leaflet-popup-content {
    font: 12px/1.4 "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.leaflet-popup-close-button {
    background: url("images/popup-close.png") repeat scroll 0 0 white;
}
