<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!--
  This config file controls where various messages are logged
  see http://nlog-project.org/wiki/Documentation for documentation
  -->

  <targets>
    <!--Useful for debugging-->
    <target name="console"
      xsi:type="ColoredConsole"
      layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <!--file logger logs messages to the specified text file-->
    <target
      name="file" xsi:type="File"
      fileName="${basedir}/App_Data/Site.log"
      layout="${date}: ${message}" />

    <!--eventlog logger - logs messages to the windows application log-->
    <target name="eventlog"
      xsi:type="EventLog"
      source="BoulderPos"
      log="Application"
      layout="${date}: ${message} ${stacktrace}" />    

  <rules>
    <!--
        Levels:
          Fatal
          Error
          Warn
          Info
          Debug
          Trace
          Off
        -->

    <!--<logger name="*" minlevel="Trace" writeTo="file" />-->

    <!--Log messages of level Info and above to the file logger configured above-->
    <logger name="*" minlevel="Info" writeTo="file" />

    <!--Log messages of level Fatal and above to the eventlog logger configured above-->
    <logger name="*" minlevel="Error" writeTo="eventlog" />    
  </rules>

</nlog>