<?xml version="1.0"?>

<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:ChirpyConfig">

  <FileGroup Name="damageassessment.js" Debug="true">    
    <File Path="leaflet-0.3\leaflet.js" />
    <!--<File Path="AgsDynamicLayer.js" /> when using leaflet 0.3, we don't need to include this because I built it in -->
    <File Path="microevent.js" />
    <File Path="iowrapper.js" />
    <File Path="map.controller.js" />
  </FileGroup>

  <FileGroup Name="damageassessmentmobile.js" Debug="true">
    <File Path="leaflet-0.3\leaflet.js" />
    <!--<File Path="AgsDynamicLayer.js" /> when using leaflet 0.3, we don't need to include this because I built it in -->
    <File Path="core.js" />
    <File Path="map.mobile.controller.js" />
  </FileGroup>
  
</root>